body, div, label, input, button, h4, p {
	margin: 0;
	padding: 0;
}

body div.tasks {
	margin-left: 100px;
	margin-top: 50px;
}

body div.tasks div {
	margin-top: 10px;
}

body div.results {
	position: fixed;
	top: 50px;
	right: 100px;
}