.border {
    border: 1px solid #729090;
    border-radius: 3px;
}
#calculator {
    margin: 0 auto;
    font-family: Segoe UI;
    font-size: 12px;
    background: url('1.png') no-repeat 7px 0;
    background-color: #D2E8FE;
    width: 415px;
    height: 350px;
    border: 1px solid #666666;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #000;
    padding: 25px 7px 27px 7px;
    cursor: default;
    color: #1E395B;
    float:left;
}
#boundary {
    border: 1px solid #729090;
    height: 103%;
    background: #B8DBFD;
    background: -moz-linear-gradient(top,  #B8DBFD 0%, #d9e4f1 28%, #d9e4f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(28%,#d9e4f1), color-stop(100%,#d9e4f1));
    background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%);
    background: -o-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%);
    background: -ms-linear-gradient(top,  #f0f0f0 0%,#d9e4f1 28%,#d9e4f1 100%); 
}
#title {
    margin: 0 0 5px 18px;
}
ul#menu li {
    padding: 0;
    list-style: none;
    display: inline;
    margin-left: 7px;
    color: #111;
}
ul#menu {
    background: #fcfdfe;
    background: -moz-linear-gradient(top,  #fcfdfe 1%, #fcfdfe 12%, #d7def0 44%, #d7def0 56%, #d7def0 56%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfdfe), color-stop(12%,#fcfdfe), color-stop(44%,#d7def0), color-stop(56%,#d7def0), color-stop(56%,#d7def0));
    background: -webkit-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%);
    background: -o-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%);
    background: -ms-linear-gradient(top,  #fcfdfe 1%,#fcfdfe 12%,#d7def0 44%,#d7def0 56%,#d7def0 56%);
    margin: 0px;
    padding: 1px 0 1px 3px;
}
ul#menu li span:hover {
    border: 1px solid black;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}
.key_dash {
    text-decoration: underline;
}
input#numbersArea {
    background: #e6effb; 
    background: -moz-linear-gradient(top,  #e6effb 0%, #edf4fc 18%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6effb), color-stop(18%,#edf4fc), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%);
    background: -o-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #e6effb 0%,#edf4fc 18%,#ffffff 100%);
    border: 1px solid #729090;
    font-family: Consolas;
    width: 92%;
    height: 37px;
    margin: 10px 10px 5px 10px;
    padding: 10px 10px 0 0;
    font-size: 24px;
    outline: none;
}
#numbers {
    width: 93.8%;
    margin-left: 10px;
    padding: 1px;
}
#numbers ul {
    padding: 0;
    margin: 0;
}
#numbers ul li {
    font-family: Consolas;
    list-style: none;
    display: inline;
    margin-left: 16px;
}
#left {
    padding: 0 0 0 10px;
    float: left;
}
.numeralSystems {
    margin-top: 5px;
    padding: 5px 0 4px 3px;
    width: 65px;
}
.numeralSystems span {
    display: block;
    margin-bottom: 1px;
}

/*Buttons*/
#buttons {
    display: inline-block;
    float: left;
}
.row {
    margin: 5px 0 0 5px;
}
button {
    padding: 0;
    margin-right: 2px;
    font-family: Segoe UI;
    height: 27px;
    width: 35px;
    color: #1E395B;
    outline: none;
}
button:hover {
    background: #fef4c5;
    background: -moz-linear-gradient(top,  #fef4c5 0%, #fce3c7 47%, #e6dd83 52%, #fbeb8d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef4c5), color-stop(47%,#fce3c7), color-stop(52%,#e6dd83), color-stop(100%,#fbeb8d));
    background: -webkit-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%);
    background: -o-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%);
    background: -ms-linear-gradient(top,  #fef4c5 0%,#fce3c7 47%,#e6dd83 52%,#fbeb8d 100%);
    border: 1px solid #F7DD34;
}
button:active {
    background: #f3e074;
    background: -moz-linear-gradient(top,  #f3e074 0%, #f5bb57 52%, #f5bb57 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3e074), color-stop(52%,#f5bb57), color-stop(100%,#f5bb57));
    background: -webkit-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%);
    background: -o-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%);
    background: -ms-linear-gradient(top,  #f3e074 0%,#f5bb57 52%,#f5bb57 100%);
    border: 1px solid #c29b29;
}
.normal {
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#FFFFFF), color-stop(0.76, #EDF7FC), to(#FCFFFF));
    background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDF7FC 76%, #FCFFFF 100%);
    background: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDF7FC 76%, #FCFFFF 100%);
    background: -o-linear-gradient(bottom, #FFFFFF 0%, #EDF7FC 76%, #FCFFFF 100%);
    background: linear-gradient(bottom, #FFFFFF 0%, #EDF7FC 76%, #FCFFFF 100%);
    font-size: 15px;
}
.special {
    padding: 0;
    line-height: 27px;
    font-size: 11px;
    background: #f6fafe;
    background: -moz-linear-gradient(top,  #f6fafe 0%, #edf3f8 49%, #e7edf5 50%, #d7e2ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fafe), color-stop(49%,#edf3f8), color-stop(50%,#e7edf5), color-stop(100%,#d7e2ef));
    background: -webkit-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    background: -o-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    background: -ms-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    border: 1px solid #8797AA;
}
.bolder {
    font-weight: bold;
    padding: 0;
    line-height: 27px;
    font-size: 18px;
    background: #f6fafe;
    background: -moz-linear-gradient(top,  #f6fafe 0%, #edf3f8 49%, #e7edf5 50%, #d7e2ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fafe), color-stop(49%,#edf3f8), color-stop(50%,#e7edf5), color-stop(100%,#d7e2ef));
    background: -webkit-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    background: -o-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    background: -ms-linear-gradient(top,  #f6fafe 0%,#edf3f8 49%,#e7edf5 50%,#d7e2ef 100%);
    border: 1px solid #8797AA;
}
.disabled {
    border: 1px solid #B4C2D1;
    background-color: #D9E4F1;
    font-size: 14px;
}
#zero {
    width: 75px;
}
#equals {
    margin-top: 5px;
    float: right;
    height: 59px;
}